@import "../../../sass/variables";

.formInput {
  width: 100%;
  background-color: $bg-gray;
  border: 1px solid $border-color;
  border-radius: 3px;
  font-size: 12px;
  padding: 10px 0px 7px 10px;
  font-weight: 100;
  margin: 3px 0px;
  line-height: 18px;
  &:focus {
    outline: none;
  }
}
