@import "../../../sass/variables";

.formDevider {
  margin: 10px 0px 18px;
  display: flex;
  .line {
    flex-grow: 1;
    height: 2px;
    background-color: $gray;
    margin: auto;
  }
  .text {
    margin: 0 1rem;
    font-size: 10px;
    color: gray;
  }
}
