// @font-face {
//   font-family: "webly sleek";
//   src: url(./assets/fonts/weblysleekuisb.ttf);
// }

@font-face {
  font-family: "webly sleek";
  src: url("./assets/fonts/weblysleekuil.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src: url("./assets/fonts/weblysleekuisl.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src: url("./assets/fonts/weblysleekuisb.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "webly sleek";
  margin: 0;
  box-sizing: border-box;
}
